<form>
  <input type="text" id="messageInput" placeholder="Type a message">
  <button onclick="sendMessage()">Send Message</button>
  <ul id="messages"></ul>
</form>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/socket.js"></script>