<form>
  <input type="text" id="roomInput" placeholder="Enter room name">
  <button onclick="createRoom()">Create Room</button>
</form>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/socket.js"></script>
