  <div id="room-forms">
    <h2>Create A Room</h2>
    <form id="create-room">
      <input type="text" id="room-name" placeholder="Enter room name"/>
      <input type="password" id="room-password" placeholder="Enter password"/>
      <button type="submit">Create Room</button>
    </form>
    <h2>Join A Room</h2>
    <form id="join-room">
      <input type="text" id="invite-code" placeholder="Enter room code"/>
      <input type="password" id="invite-password" placeholder="Enter password"/>
      <button type="submit">Join Room</button>
    </form>
  </div>
{{#if loggedIn}}
  <h3><a href="/rooms">See My Rooms!</a></h3>
{{else}}
  <h3>Log in to start chatting!</h3>
{{/if}}
<script type="module" src="/js/enterRoom.js"></script>
{{!-- <script type="module" src="/socket.io/socket.io.js"></script>
<script type="module" src="/js/socket.js"></script> --}}
