<p><a href="/rooms">View Rooms</a></p>
{{!-- <form>
  <input type="text" id="roomInput" placeholder="Enter room name">
  <button onclick="createRoom()">Create Room</button>
</form> --}}
{{!-- <script type="module" src="/socket.io/socket.io.js"></script>
<script type="module" src="/js/socket.js"></script> --}}
