<h2>Log In Here</h2>
<form id="login-form">
  <input type="text" id="login-username" placeholder="Enter your username"></input>
  <input type="password" id="login-password" placeholder="Enter your password"></input>
  <button type="submit">Log In</button>
</form>
<h2>Sign Up Here</h2>
<form id="signup-form">
  <input type="text" id="signup-username" placeholder="Create your username"></input>
  <input type="password" id="signup-password" placeholder="Create your password"></input>
  <button type="submit">Sign Up</button>
</form>
<script src="/js/login.js"></script>
