<script src="https://cdn.socket.io/socket.io-3.0.0.js"></script>
<h3 id="room-name" data-room={{room.id}}>Room: {{room.name}}</h3>
<p>Admin: {{room.admin.username}}</p>
<div id="chatter-list">
  <p>Chatter List:</p>
{{#if room.participant}}
  <ul>
  {{#each room.participant}}
    <li>{{username}}</li>
  {{/each}}
  </ul>
{{/if}}
</div>
<p>Messages shown below here:</p>
<div id="chatbox">
  <ul id="msg-container">
    {{!-- {{#each}} --}}
    <li>
      <div class="msg-content">
        <p class="author">author username here</p>
        <p class="text">message 1 text here</p>
        <button id="message-id-here" class="msg-edit">Edit</button>
        <button id="message-id-here" class="msg-delete">Delete</button>
      </div>
    </li>
        <li>
      <div class="msg-content">
        <p class="author">author username here</p>
        <p class="text">message 2 text here</p>
        <button id="message-id-here" class="msg-edit">Edit</button>
        <button id="message-id-here" class="msg-delete">Delete</button>
      </div>
    </li>
        <li>
      <div class="msg-content">
        <p class="author">author username here</p>
        <p class="text">message 3 text here</p>
        <button id="message-id-here" class="msg-edit">Edit</button>
        <button id="message-id-here" class="msg-delete">Delete</button>
      </div>
    </li>
    {{!-- {{/each}} --}}
  </ul>
  <form id="msg-form">
    <input type="text" id="msg-input" placeholder="Type a message"/>
    <button type="submit">Send Message</button>
  </form>
</div>
<script defer type="module" src="/js/messageRoom.js"></script>
<script type="module" src="/socket.io/socket.io.js"></script>